/*****************************************************************************/
/*                                                                           */
/* リストセル用のCSSの定義                                                   */
/*                                                                           */
/* AUTHOR:       T.Aoike                                                     */
/* VERSION:      $Revision: 1.1.1.1 $ $Date: 2006/08/17 09:33:01 $               */
/*                                                                           */
/*****************************************************************************/

/********** 本文 **********/

/* 結合レベルありのListBoxでは
   このスタイルをListCellに定義する
   add 2004/08/02 N.Sawa                */
.listcell-table-combination {
	height				: 0%;
}

/* ListBoxにスクロールバーを表示する場合、このスタイルを定義した
   <div class="listcell-scroll"></div>をJSPに追記する
   例 <div class="listcell-scroll"><h:listcell id="lst_XXX" templatekey="XXX"/></div>
   add 2004/09/07 N.Sawa                */
.listcell-scroll {
	overflow-x			: scroll;
	width				: 970px;
	height				: 100px;
}

/* リストセルのヘッダ 左に区切り線 */
.listcell-header
{
	background-color	: #413a8a;
	color				: white;
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: center;
	position			: relative;
	padding-top			: 5px;
	padding-bottom		: 1px;
	border-left     	: 1px solid #ffffff;
}

/* リストセルのヘッダ 区切り線無し */
.listcell-header-nodelim
{
	background-color	: #413a8a;
	color				: white;
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: center;
	position			: relative;
	padding-top			: 5px;
	padding-bottom		: 1px;
}

/* リストセルのヘッダ 左端 */
.listcell-header-left
{
	background-color	: #413a8a;
	color				: white;
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: center;
	position			: relative;
	padding-top			: 5px;
	padding-bottom		: 1px;
}

/* リストセルのヘッダ 右端 */
.listcell-header-right
{
	background-color	: #413a8a;
	color				: white;
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: center;
	position			: relative;
	padding-top			: 5px;
	padding-bottom		: 1px;
}

/* リストセルの行ヘッダ */
.listcell-rowheader
{
	background-color	: #413a8a;
	color				: white;
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: center;
	position			: relative;
	padding-top			: 5px;
	padding-bottom		: 1px;
	border-left     	: 1px solid #ffffff;
	border-bottom     	: 1px solid #ffffff;
}

/* リストセルの行ヘッダ 左端 */
.listcell-rowheader-left
{
	background-color	: #413a8a;
	color				: white;
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: center;
	position			: relative;
	padding-top			: 5px;
	padding-bottom		: 1px;
	border-bottom     	: 1px solid #ffffff;
}

/* リストセルの行ヘッダ 右端 */
.listcell-rowheader-right
{
	background-color	: #413a8a;
	color				: white;
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: center;
	position			: relative;
	padding-top			: 5px;
	padding-bottom		: 1px;
	border-bottom     	: 1px solid #ffffff;
}

/* リストセルの行ヘッダ */
.listcell-rowheader-bottom
{
	background-color	: #413a8a;
	color				: white;
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: center;
	position			: relative;
	padding-top			: 5px;
	padding-bottom		: 1px;
	border-left     	: 1px solid #ffffff;
	border-bottom     	: 1px solid #413a8a;
}

/* リストセルの行ヘッダ 左端 */
.listcell-rowheader-left-bottom
{
	background-color	: #413a8a;
	color				: white;
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: center;
	position			: relative;
	padding-top			: 5px;
	padding-bottom		: 1px;
	border-bottom     	: 1px solid #413a8a;
}

/* リストセルの行ヘッダ 右端 */
.listcell-rowheader-right-bottom
{
	background-color	: #413a8a;
	color				: white;
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: center;
	position			: relative;
	padding-top			: 5px;
	padding-bottom		: 1px;
	border-bottom     	: 1px solid #413a8a;
}


/* リストセルのヘッダのリンク */

/* 未訪問リンク */
.listcell-header a:link
{
	color: #ffffff;
}

/* 訪問済みリンク */
.listcell-header a:visited
{
	color: #ffffff;
}

/* オンフォーカス */
.listcell-header-left a:hover
{ 
	color: #ffffff;
}

/* 未訪問リンク */
.listcell-rowheader a:link
{
	color: #ffffff;
}

/* 訪問済みリンク */
.listcell-rowheader a:visited
{
	color: #ffffff;
}

/* オンフォーカス */
.listcell-rowheader a:hover
{ 
	color: #ffffff;
}


/* リスト一覧のボタン列*/
.listcell-detail-button {
	text-align			: center;
/*	color				: black; */
}


/* リストセルの明細行 中央表示 左に区切り線 */
.listcell-detail-center
{
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: center;
	padding-top			: 4px;
	padding-right		: 4px;
	padding-left		: 4px;
	position			: relative;
	border-left     	: 1px solid #413a8a;
}

/* リストセルの明細行 中央表示 左に区切り線 下線あり*/
.listcell-detail-center-rowline
{
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: center;
	padding-top			: 4px;
	padding-right		: 4px;
	padding-left		: 4px;
	position			: relative;
	border-left     	: 1px solid #413a8a;
	border-bottom     	: 1px solid #413a8a;
}



/* リストセルの明細行 中央表示 区切り線無し */
.listcell-detail-center-nodelim
{
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: center;
	padding-top			: 4px;
	padding-right		: 4px;
	padding-left		: 4px;
	position			: relative;
}

/* リストセルの明細行 中央表示 右端 */
.listcell-detail-center-right
{
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: center;
	padding-right		: 4px;
	padding-left		: 4px;
	position			: relative;
	border-left     	: 1px solid #413a8a;
	border-bottom     	: 1px solid #413a8a;
}

/* リストセルの明細行 中央表示 左端 */
.listcell-detail-center-left
{
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: center;
	padding-right		: 4px;
	padding-left		: 4px;
	position			: relative;
	border-bottom     	: 1px solid #413a8a;
}


/* リストセルの明細行 右揃表示 */
.listcell-detail-right
{
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: right;
	padding-top			: 4px;
	padding-right		: 4px;
	padding-left		: 4px;
	position			: relative;
	border-left     	: 1px solid #413a8a;
}

/* リストセルの明細行 右揃表示 区切り線無し*/
.listcell-detail-right-nodelim
{
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: right;
	padding-top			: 4px;
	padding-right		: 4px;
	padding-left		: 4px;
	position			: relative;
}

/* リストセルの明細行 左揃表示 */
.listcell-detail-left
{
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: left;
	padding-top			: 4px;
	padding-right		: 4px;
	padding-left		: 4px;
	position			: relative;
	border-left     	: 1px solid #413a8a;
}

/* リストセルの明細行 左揃表示 下線あり*/
.listcell-detail-left-rowline
{
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: left;
	padding-top			: 4px;
	padding-right		: 4px;
	padding-left		: 4px;
	position			: relative;
	border-left     	: 1px solid #413a8a;
	border-bottom     	: 1px solid #413a8a;
}


/* リストセルの明細行 左揃表示 改行あり*/
.listcell-detail-left-wordbreak
{
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: left;
	padding-top			: 4px;
	padding-right		: 4px;
	padding-left		: 4px;
	position			: relative;
	border-left     	: 1px solid #413a8a;
	word-break : break-all;
}


/* リストセルの明細行 左揃表示 */
.listcell-detail-left-nodelim
{
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: left;
	padding-top			: 4px;
	padding-right		: 4px;
	padding-left		: 4px;
	position			: relative;
}

/* リストセルの明細行 左揃表示 下線あり*/
.listcell-detail-left-nodelim-rowline
{
	font-size			: 100%;
	font-family			: monospace;
	text-decoration		: none;
	text-align			: left;
	padding-top			: 4px;
	padding-right		: 4px;
	padding-left		: 4px;
	position			: relative;
	border-bottom     	: 1px solid #413a8a;
}

