<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--打印标签纸张设定，只支持A4,A5和A6三种纸型。其他情况下使用程序默认纸型Card(11.00×15.00)-->
    <add key="label-paper-name" value="A4"/>
    <!--清理日志文件天数设定，系统将自动删除设定值天数以前的日志文件，所设值为非数字情况下为默认值30-->
    <add key="clear-logs-days" value="30"/>
  </appSettings>
</configuration>